In [2]:
from platform import python_version

print(python_version())

3.8.8

In [3]:
import pandas as pd 
import numpy as np

In [4]:
pd.__version__

'1.2.4'

In [5]:
!pip uninstall pandas -y

!pip install -U pandas

Found existing installation: pandas 1.2.4
Uninstalling pandas-1.2.4:
  Successfully uninstalled pandas-1.2.4
Collecting pandas
  Downloading pandas-1.3.4-cp38-cp38-win_amd64.whl (10.2 MB)
Requirement already satisfied: pytz>=2017.3 in c:\users\debjit\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\debjit\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\debjit\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\debjit\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: pandas
Successfully installed pandas-1.3.4

In [6]:
!pip uninstall numpy -y

!pip install -U numpy

Found existing installation: numpy 1.20.1
Uninstalling numpy-1.20.1:
  Successfully uninstalled numpy-1.20.1
Collecting numpy
  Downloading numpy-1.21.3-cp38-cp38-win_amd64.whl (14.0 MB)
Installing collected packages: numpy
Successfully installed numpy-1.21.3

In [12]:
!pip uninstall sklearn -y

!pip install -U sklearn

WARNING: Skipping sklearn as it is not installed.

Collecting sklearn
  Using cached sklearn-0.0.tar.gz (1.1 kB)
Collecting scikit-learn
  Using cached scikit_learn-1.0.1-cp38-cp38-win_amd64.whl (7.2 MB)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\debjit\anaconda3\lib\site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\debjit\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.0.1)
Requirement already satisfied: scipy>=1.1.0 in c:\users\debjit\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.6.2)
Requirement already satisfied: numpy>=1.14.6 in c:\users\debjit\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.21.3)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py): started
  Building wheel for sklearn (setup.py): finished with status 'done'
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1316 sha256=c6e82b4e6ba514a8b7d1bf8e4c752bb87281970c29403dd09d662e2a5fa8d14c
  Stored in directory: c:\users\debjit\appdata\local\pip\cache\wheels\22\0b\40\fd3f795caaa1fb4c6cb738bc1f56100be1e57da95849bfc897
Successfully built sklearn
Installing collected packages: scikit-learn, sklearn
Successfully installed scikit-learn-1.0.1 sklearn-0.0

In [17]:
import sklearn
!pip install -U imbalanced-learn

Collecting imbalanced-learn
  Downloading imbalanced_learn-0.8.1-py3-none-any.whl (189 kB)
Requirement already satisfied: scipy>=0.19.1 in c:\users\debjit\anaconda3\lib\site-packages (from imbalanced-learn) (1.6.2)
Requirement already satisfied: numpy>=1.13.3 in c:\users\debjit\anaconda3\lib\site-packages (from imbalanced-learn) (1.21.3)
Requirement already satisfied: joblib>=0.11 in c:\users\debjit\anaconda3\lib\site-packages (from imbalanced-learn) (1.0.1)
Requirement already satisfied: scikit-learn>=0.24 in c:\users\debjit\anaconda3\lib\site-packages (from imbalanced-learn) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\debjit\anaconda3\lib\site-packages (from scikit-learn>=0.24->imbalanced-learn) (2.1.0)
Installing collected packages: imbalanced-learn
Successfully installed imbalanced-learn-0.8.1

In [19]:
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from imblearn.combine import SMOTEENN
from sklearn.ensemble import RandomForestClassifier
import pandas as pd 
import numpy as np

In [20]:
df = pd.read_csv("new_churn.csv")

In [21]:
df.head()

,Unnamed: 0,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,0,1,29.85,29.85,0,1,0,0,1,...,0,1,0,0,0,1,0,0,1,0
1,1,0,34,56.95,1889.50,0,0,1,1,0,...,0,0,1,0,1,0,0,0,0,1
2,2,0,2,53.85,108.15,1,0,1,1,0,...,0,1,0,0,0,1,0,0,0,1
3,3,0,45,42.30,1840.75,0,0,1,1,0,...,0,0,1,0,1,0,1,0,0,0
4,4,0,2,70.70,151.65,1,1,0,1,0,...,0,1,0,0,0,1,0,0,1,0

In [22]:
df=df.drop('Unnamed: 0',axis=1)

In [23]:
df.head()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,1,29.85,29.85,0,1,0,0,1,1,...,0,1,0,0,0,1,0,0,1,0
1,0,34,56.95,1889.50,0,0,1,1,0,1,...,0,0,1,0,1,0,0,0,0,1
2,0,2,53.85,108.15,1,0,1,1,0,1,...,0,1,0,0,0,1,0,0,0,1
3,0,45,42.30,1840.75,0,0,1,1,0,1,...,0,0,1,0,1,0,1,0,0,0
4,0,2,70.70,151.65,1,1,0,1,0,1,...,0,1,0,0,0,1,0,0,1,0

In [24]:
x=df.drop('Churn',axis=1)
x.head()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,1,29.85,29.85,1,0,0,1,1,0,...,0,1,0,0,0,1,0,0,1,0
1,0,34,56.95,1889.50,0,1,1,0,1,0,...,0,0,1,0,1,0,0,0,0,1
2,0,2,53.85,108.15,0,1,1,0,1,0,...,0,1,0,0,0,1,0,0,0,1
3,0,45,42.30,1840.75,0,1,1,0,1,0,...,0,0,1,0,1,0,1,0,0,0
4,0,2,70.70,151.65,1,0,1,0,1,0,...,0,1,0,0,0,1,0,0,1,0

In [25]:
y = df.Churn
y.head()

0    0
1    0
2    1
3    0
4    1
Name: Churn, dtype: int64

Form EDA we see that the dataset is unbalance, we have to take care of this to create a better model. Here we can do the things diff way creating fold , upsampeling and other method.

In [27]:
sm = SMOTEENN()
X_resampled1, y_resampled1 = sm.fit_resample(x,y)

In [28]:
xr_train1,xr_test1,yr_train1,yr_test1=train_test_split(X_resampled1, y_resampled1,test_size=0.2)

In [29]:
model_rf_smote=RandomForestClassifier(n_estimators=110, criterion='gini', random_state = 42,max_depth=7, min_samples_leaf=8)

In [30]:
model_rf_smote.fit(xr_train1,yr_train1)

RandomForestClassifier(max_depth=7, min_samples_leaf=8, n_estimators=110,
                       random_state=42)

In [31]:
yr_predict1 = model_rf_smote.predict(xr_test1)

In [32]:
model_score_r1 = model_rf_smote.score(xr_test1, yr_test1)

In [33]:
print(model_score_r1)
print(metrics.classification_report(yr_test1, yr_predict1))

0.9456896551724138
              precision    recall  f1-score   support

           0       0.96      0.92      0.94       521
           1       0.94      0.97      0.95       639

    accuracy                           0.95      1160
   macro avg       0.95      0.94      0.94      1160
weighted avg       0.95      0.95      0.95      1160

In [34]:
print(metrics.confusion_matrix(yr_test1, yr_predict1))

[[478  43]
 [ 20 619]]

Now it's time to save the model for use next time. We use pickle for save the model.

In [35]:
import pickle

In [36]:
filename = 'model.ml'

In [37]:
pickle.dump(model_rf_smote, open(filename, 'wb'))

In [38]:
load_model = pickle.load(open(filename, 'rb'))

In [39]:
model_score_r1 = load_model.score(xr_test1, yr_test1)

In [40]:
model_score_r1

0.9456896551724138